<mat-nav-list>
  <a
    mat-list-item
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    ariaCurrentWhenActive="page"
    (click)="linkClicked.emit()"
    >Startseite</a
  >
  <a
    mat-list-item
    routerLink="/reservation"
    routerLinkActive="active-link"
    ariaCurrentWhenActive="page"
    (click)="linkClicked.emit()"
    >Reservierung</a
  >
  <a
    mat-list-item
    routerLink="/imprint"
    routerLinkActive="active-link"
    ariaCurrentWhenActive="page"
    (click)="linkClicked.emit()"
    >Impressum</a
  >
  <a
    mat-list-item
    routerLink="/data-protection"
    routerLinkActive="active-link"
    ariaCurrentWhenActive="page"
    (click)="linkClicked.emit()"
    >Datenschutz</a
  >
</mat-nav-list>
